/* signin page */

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}

/* signup page */

.invalid {
    color: red !important;
}

@keyframes blur {
    0% {
		filter: blur(0px);
	}
    100% {
        filter: blur(15px);
    }
}